<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
            rel="stylesheet"
    />
    <title>My profile</title>
</head>
<body id="page-top">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:20px; padding-right:20px;">
        <a class="navbar-brand" href="/home">Travel Agency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tours">Tours<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/hotels">Hotels<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logIn">My profile<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="window.location.href='/createTour'">Create new tour</button>
            </form>
        </div>
    </nav>
</header>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">My profile</p>

                                <div class="table-responsive">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                    Name
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                John Doe
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                    Email
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                john-doe@email.com
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                                    Phone Number
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                +1234567890
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                    Date of birth
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                1999-11-23
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
                                                    Passport ID
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                77788833
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="text-black">
                                                    <i class="fas fa-eye fa-lg me-3 fa-fw"></i>
                                                    Role
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                Manager
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button class="btn btn-outline-dark m-4 my-2 my-sm-0" type="submit"
                                        onclick="window.location.href='/tours'">View tours</button>
                                <button class="btn btn-outline-dark m-4 my-2 my-sm-0" type="submit"
                                        onclick="window.location.href='/users'">View users</button>
                                <button class="btn btn-outline-dark m-4 my-2 my-sm-0" type="submit"
                                        onclick="window.location.href='/statistics'">View statistics</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted">&copy; 2022 Company, Inc</span>
    </div>
</footer>
</body>
</html>
